In [5]:
import pandas as pd
df_ano2024 = pd.read_stata(r"C:\Users\Nick\Downloads\usu_individual_T124.dta")
import pyreadstat
df_ano2004, meta = pyreadstat.read_dta(r"C:\Users\Nick\Downloads\Individual_t104.dta")
df_ano2004.columns = df_ano2004.columns.str.lower()
df_ano2024.columns = df_ano2024.columns.str.lower()
df_completo = pd.concat([df_ano2004, df_ano2024], ignore_index=True)
df_completo = df_completo[df_completo['region'] == 1]
df_completo

,codusu,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,adeccfr,pj1_1,pj2_1,pj3_1,idimpp,ch05,imputa,pondiio,pondii,pondih
0,125098,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,1299.0,...,04,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN,NaN
1,125397,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,2018.0,...,00,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN,NaN
2,125515,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,1486.0,...,05,0.0,0.0,0.0,00020,NaN,NaN,NaN,NaN,NaN
3,125558,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,1674.0,...,06,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN,NaN
4,125558,1.0,2.0,1.0,2004.0,1.0,1.0,S,32.0,1674.0,...,06,0.0,0.0,0.0,00000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91334,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,1.0,1.0,2024.0,1.0,1.0,S,33.0,3410.0,...,12.0,NaN,NaN,NaN,NaN,1980-08-18 00:00:00,NaN,4081.0,0.0,0.0
91335,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,2.0,2.0,2024.0,1.0,1.0,S,33.0,3410.0,...,12.0,NaN,NaN,NaN,NaN,2002-03-18 00:00:00,NaN,3410.0,3410.0,0.0
91336,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,3.0,2.0,2024.0,1.0,1.0,S,33.0,3410.0,...,12.0,NaN,NaN,NaN,NaN,2004-01-03 00:00:00,NaN,3410.0,3410.0,0.0
91337,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,4.0,2.0,2024.0,1.0,1.0,S,33.0,3410.0,...,12.0,NaN,NaN,NaN,NaN,2012-05-28 00:00:00,NaN,3410.0,3410.0,0.0
91338,TQRMNOPUQHKMKNCDEIJAH00861661,1.0,5.0,2.0,2024.0,1.0,1.0,S,33.0,3410.0,...,12.0,NaN,NaN,NaN,NaN,1999-04-10 00:00:00,NaN,3410.0,3410.0,0.0

In [61]:
variables = [
    'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8',
    'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot']
df_ano2004 = df_ano2004[df_ano2004['region'] == 1]
df_ano2024 = df_ano2024[df_ano2024['region'] == 1]
faltantes_2004 = df_ano2004[variables]
columnas_con_faltantes_2004 = faltantes_2004[faltantes_2004 == 0]
faltantes_2024 = df_ano2024[variables]
columnas_con_faltantes_2024 = faltantes_2024[faltantes_2004 == 0]
print('------------------------')
print('Valores Faltantes 2004')
print(columnas_con_faltantes_2004.count())
print('------------------------')
print('Valores Faltantes 2024')
print(faltantes_2024.count())
print('------------------------')
conteo_faltantes_2004 = (columnas_con_faltantes_2004 <= 0).sum()
conteo_faltantes_2024 = (columnas_con_faltantes_2024 <= 0).sum()
var_max_2004 = conteo_faltantes_2004.idxmax()
valor_max_2004 = conteo_faltantes_2004.max()
var_max_2024 = conteo_faltantes_2024.idxmax()
valor_max_2024 = conteo_faltantes_2024.max()
if (valor_max_2004)>(valor_max_2024):
    print("El valor maximo de estos aÃ±os fue en 2004, fue la variable:")
    print(var_max_2004, valor_max_2004)
else:
    print("El valor maximo de estos aÃ±os fue en 2024, fue la variable:")
    print(var_max_2024, valor_max_2024)

------------------------
Valores Faltantes 2004
pp02c1      7165
pp02c2      7165
pp02c3      7165
pp02c4      7165
pp02c5      7165
pp02c6      7165
pp02c7      7165
pp02c8      7165
pp02e       7586
pp02h       4858
pp02i       4847
pp03c       4774
pp03d       7389
pp3e_tot    4777
pp3f_tot    7401
dtype: int64
------------------------
Valores Faltantes 2024
pp02c1      7051
pp02c2      7051
pp02c3      7051
pp02c4      7051
pp02c5      7051
pp02c6      7051
pp02c7      7051
pp02c8      7051
pp02e       7051
pp02h       7051
pp02i       7051
pp03c       3224
pp03d       3224
pp3e_tot    3224
pp3f_tot    3224
dtype: int64
------------------------
El valor maximo de estos aÃ±os fue en 2004, fue la variable:
pp02e 7586

In [ ]:
\